@font-face {
	font-family: myFont;
    src: url(../css/Enigma2.ttf);
}

body {
	padding: 0;
	margin: 0;
	font-family: myFont;
}

#headline {
	background: url(../images/GDO_3.jpg);
	background-size: cover;
	height: 550px;
	padding: 2em;
	color: white;
}

#headline h1 {
	text-align: center;
	font-size: 50pt;
	margin-top: 150px;
}

#headline h2 {
	text-align: center;
	font-size: 40pt;
	margin-top: 25px;
}

#headline h3 {
	text-align: center;
	font-size: 30pt;
	margin-top: 25px;
}

#maincontent h1 {
	text-align: center;
	margin-top: 25px;
}

#maincontent img {
	width: 75px;
	height: 75px;
	border-radius: 50% 50%;
    box-shadow: #EB8C78 0px 0px 5px;
}

#maincontent .reflink {
	text-decoration: none;
	outline:none;
	margin-left: 20px;
	color: #1B527B;
	font-size: 20pt;
}

#footer {
	font-weight: 300;
  	background-color: #EB8C78;
  	color: black;
  	padding-bottom: 20px;
  	padding-top: 20px;
}

#footer h1 {
	text-align: center;
}

table {
	margin-left: 17%;
	margin-right: 17%;
}

@media screen and (min-width: 600px) {
	.container {
		margin: auto;
		max-width: 800px;
	}
	
	table {
		margin-left: 25%;
		margin-right: 25%;
	}
	
}