body {
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	text-align: center;
}

img {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

@media screen and (min-width: 600px) {
	.container, .nav {
		margin: auto;
		max-width: 900px;
	}
	
}