@font-face {
	font-family: myFont;
    src: url(../css/Enigma2.ttf);
}

body {
	padding: 0;
	margin: 0;
	font-family: myFont;
	background-color: #e6e6e6;
}

h1, h2, h3 {
	text-align: center;
}

img {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.container {
	padding: 10px;
	margin: 10px;
	background-color: white;
}

.nav {
	background:#404040;
	padding: 20px;
}

.nav h2 {
	color: white;
	text-align: center;
}

.nav ul li {
	list-style: none;
	margin-bottom:15px;
	text-align: center;
}

.nav a {
	text-decoration: none;
	color: white;
	border-bottom:1px solid transparent;
	transition: color ease .35s, border-bottom-color ease .35s;
}

.nav ul li a:hover {
	color: #bfbfbf;
    border-bottom-color: #bfbfbf;
}

@media screen and (min-width: 600px) {
	.container {
		margin: auto;
		margin: 20px;
		margin-left: 30%;
		max-width: 900px;
		padding: 10px;
		background-color: white;
	}
	
	.nav {
		position:fixed;
	  	padding: 10px;
	  	top: 0; 
	  	left: 0;
	  	height:100%; 
	  	width:25%;
	  	background:#404040;
	  	transition: width ease .5s; 
	  	color: white;
	}
	
	.nav ul {
		list-style:none;
	    margin:0; 
	    margin-left: 10%;
	    padding:0;
	    margin-top: 50px;
	}
	
	.nav ul li {
		list-style: none;
		margin-bottom:15px;
		text-align: left;
	}
	
	.nav ul li a {
		text-decoration: none;
		border-bottom:1px solid transparent;
		color: white;
		transition: color ease .35s, border-bottom-color ease .35s;
	}
	
	.nav ul li a:hover {
		color: #bfbfbf;
	    border-bottom-color: #bfbfbf;
	}
	
}