@font-face {
	font-family: myFont;
    src: url(../css/Pacifico.ttf);
}

body {
	padding: 0;
	margin: 0;
	background: url(../images/fireworks.png);
	background-size: cover;
	font-family: myFont;
}

h1, h2, h3 {
	text-align: center;
}

.nav h2 {
	font-size: 30pt;
}

img {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.nav { 
	color: white;
	padding: 5px;
	max-width: 900px;
}

.nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15pt;
	border-bottom:1px solid transparent;
}

.nav ul li a:hover {
	color: white;
    border-bottom-color: white;
}

.nav ul{
    margin:0;
    padding:0;
}
 
.nav li {
    text-align:center;
    overflow:hidden;
    display: block;
    padding: 5px;
    width: 30%;
    margin-bottom: 15px;
    margin-left: 32%;
    margin-right: 32%;
}

.container {
	padding: 10px;
	margin: 10px;
	background-color: white;
}

@media screen and (min-width: 600px) {
	.container {
		margin: auto;
		max-width: 900px;
		padding: 10px;
		background-color: white;
		margin-bottom: 10px;
	}
	
	.nav { 
/* 		background: url(../images/fireworks.png);  */
		background-size: cover;
		color: white;
		padding: 5px;
		max-width: 900px;
		margin-left: 20%;
		margin-right: 20%;
	}
	
	.nav a {
		text-decoration: none;
		color: white;
		font-weight: bold;
		font-size: 15pt;
		border-bottom:1px solid transparent;
	}
	
	.nav ul li a:hover {
		color: white;
	    border-bottom-color: white;
	}
	
	.nav ul{
	    margin:0;
	    padding:0;
	}
	 
	.nav li{
	    text-align:center;
	    overflow:hidden;
	    padding: 5px;
	    width: 30%;
	    display: inline-block;
	    margin-left: 0;
   		margin-right: 0;
	}
	
	.nav h2 {
		font-size: 30pt;
	}
	
	h1, h2, h3 {
		text-align: center;
	}
	
}